<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="active"><a href="./index.html" class="cft">Home</a></li>
            <li><a href="./index.html" class="cft">Clients</a></li>
            <li><a href="./index.html" class="cft">Loans</a></li>
            <li><a href="./index.html" class="cft">Administration</a></li>
            <li><a href="./index.html" class="cft">Accounting</a></li>
            <li><a href="./index.html" class="cft">Administration</a></li>
        </ul>
        <ul class="nav nav-tools pull-right">
            <li class="dropdown"><a href="#">张三</a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#" data-original-title="">Default</a>
                    </li>
                    <li>
                        <a href="#" data-original-title="">Facebook</a>
                    </li>
                    <li>
                        <a href="#" data-original-title="">Facebook</a>
                    </li>
                </ul>
            </li>
            <li class="toolsbs"><span class="sb"></span></li>
            <li class="notify"><a href="#"><span class="num">0</span></a></li>
            <li class="toolsbs"><span class="sb"></span></li>
            <li><a href="#"><span class="cfpSetting"></span></a></li>
            <!--<li><a class="brand" href="./index.html">CFPAMF</a></li>-->
        </ul>
    </div>
</div>